.about-pg{
    &__body{
        &__item{
            margin-top: 50px;
            h2{
                font-size: 50px;
                font-family: Arial, Helvetica, sans-serif;
            }
            p{
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                margin: 25px 0px;
            }
            li{
                list-style: disc;
                font-size: 19px;
                font-family: Arial, Helvetica, sans-serif;
                margin: 15px 0px;
            }
            img{
                width: 100%;
                margin: 50px 0px;
            }
        }
    }
}

.bold{
    font-weight: bold;
}

.pr-title{
    font-weight: bold;
}