

.contacts-pg{
    margin-bottom: 100px;
    &__body{
        width: 100%;
        display: flex;
        flex-direction: column;
        &__form{
            display: flex;
            flex-direction: column;
            margin-top: 100px;
            .form__title{
                display: flex;
                justify-content: space-between;
                h2{
                    font-size: 40px;
                    font-family: Arial, Helvetica, sans-serif;
                }
                &__loc{
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    h3{
                        font-size: 22px;
                        font-family: Arial, Helvetica, sans-serif;
                        margin-bottom: 5px;
                    }
                    p{
                        font-size: 17px;
                    }
                }
                &__mes{
                    width: 30%;
                    h3{
                        font-size: 22px;
                        font-family: Arial, Helvetica, sans-serif;
                        margin-bottom: 5px;
                    }
                    p{
                        font-size: 17px;
                    }
                }
            }
            .form__form{
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 60px;
                input{
                    width: 30%;
                    height: 70px;
                    padding: 0px 20px;
                    font-size: 17px;
                    font-family: Arial, Helvetica, sans-serif;
                    border: 1px solid;
                    border-color: rgb(221, 221, 221);
                    border-radius: 5px;
                }
                textarea{
                    width: 100%;
                    margin: 30px 0px;
                    padding: 20px 20px;
                    font-size: 17px;
                    font-family: Arial, Helvetica, sans-serif;
                    border: 1px solid;
                    border-color: rgb(221, 221, 221);
                    border-radius: 5px;
                }
                .form__row{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
                .form__row button{
                    width: 100%;
                    height: 50px;
                    background-color: #222327;
                    color: white;
                    font-size: 18px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }
        &__maps{
            .form__title__loc{
                width: 100%;
                display: flex;
                flex-direction: column;
                h3{
                    font-size: 22px;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 17px;
                }
            }
            .form__title__mes{
                width: 100%;
                margin-top: 30px;
                h3{
                    font-size: 22px;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 17px;
                }
            }
            display: flex;
            flex-direction: column;
            margin-top: 100px;
            .map__item{
                display: flex;
                flex-direction: column;
                border-top: 2px solid rgb(228, 228, 228);
                padding: 50px 0px;
                .map__title{
                    h3{
                        font-size: 40px;
                    font-family: Arial, Helvetica, sans-serif;
                    }
                }
                .map__content{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 50px;
                    &__text{
                        width: 50%;
                    }
                }
            }
        }   
    }
}