* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}


@font-face {
    font-family: "Poppins-Bold";
    src: url("../../assets/fonts/Poppins-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("../../assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Poppins-Medium";
    src: url("../../assets/fonts/Poppins-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


.container {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    height: 100%;
}

.header-container {
    max-width: 1300px;
    width: 100%;
}

.main-sst{
    background-image: url("../assets/images/main2.jpg");
}
.main-mst{
    background-image: url("../assets/images/main3.jpeg");
}
.main-ajt{
    background-image: url("../assets/images/main1.jpg");
}

.main {
    transition: all 0.5s ease-in-out;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding: 20px 0px;
    .header {
        width: 100%;
        &__body {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__toggle {
                width: 10%;
                display: block;
                cursor: pointer;
                position: relative;
                z-index: 1000;
                .line {
                    width: 30px;
                    height: 3px;
                    margin: 5px;
                    background: #fff;
                }
            }
            &__toggle.changed{
                .line{
                    background: #000;
                }
            }
           &__title{
               width: 80%;
               margin: auto;
               text-align: center;
           }
            &__links{
                width: 10%;
                display: flex;
                justify-content: space-between;
                i{
                    color: white;
                    font-size: 22px;
                    
                }
            }
        }
    }
    &__body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title{
        transition: all 1s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
        h3{
           
            font-family: Arial, Helvetica, sans-serif;
            font-size: 6.5rem;
            color: white;
        }
        a{
            text-decoration: none;
            outline: none;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            font-size: 23px;
            color: white;
        }
    }
    &__nav{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        h3{
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            cursor: pointer;
            transition: 300ms;
        }
        h3:hover{
            color: gainsboro;
        }
    }
}

.nav.open{
    top: 0%;
}

.nav{
    transition: 0.5s;
    position: absolute;
    overflow: hidden;
    background-color: white;
    width: 100%;
    height: 100vh;
    top: -100%;
    left: 0;
    z-index: 999;
    &__body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 100px;
        ul{
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            margin-bottom: 50px;
            li{
                font-size: 23px;
                font-family: Arial, Helvetica, sans-serif;
                cursor: pointer;
            }
        }
        i{
            font-size: 25px;
            margin: 0px 10px;
            cursor: pointer;
        }
    }
}
